body {
    margin: 0;
    padding: 0;
    color: white;
}

.navBar {
    background: linear-gradient(
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.7)
    );
    display: flex;
}

.navBar > div {
    margin: 2% 0;
    margin-left: 7%;
    padding: 0.6% 1.5%;
}

.activeDiv {
    background-color: white;
    color: black;
}

#imageDiv {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

#imageDiv img {
    width: 100%;
    object-fit: cover;
}

section {
    display: flex;
    margin: 1%;
    justify-content: space-around;
}

section div {
    margin: 1%;
    width: 29%;
}

.threeImages {
    height: 500px;
    width: 100%;
}

footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

footer div {
    width: 42%;
}

.footerImage {
    width: 100%;
}

.lastImage {
    padding: 3% 8% 1% 0;
}

footer div p {
    margin-top: 40%;
}
